.wrapper {
    display: inline-block;
    background-color: var(--yellow-color);
    color: var(--black-color);
    padding: 1.3rem 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
        letter-spacing: 0.2rem;
    }
}

.wrapper.colorRed {
    background-color: var(--red-color);
    color: var(--white-color);
}
