.wrapper {
    width: 100%;
    background-color: var(--black-color);
    text-align: center;
    padding: 6rem;

    .title {
        font-size: 4rem;
        font-weight: 600;
        color: var(--white-color);
        text-transform: capitalize;
        margin-bottom: 1rem;
    }

    p {
        font-size: 2rem;
        color: var(--light-color);

        a {
            color: var(--yellow-color);

            &:hover {
                color: var(--white-color);
            }
        }

        span {
            margin: 0 0.5rem;
        }
    }
}
