.totalPrice {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    border: var(--border-style);
    background-color: var(--white-color);
    margin-bottom: 3rem;

    .total {
        font-size: 2rem;
        color: var(--light-color);

        span {
            font-size: 2.3rem;
            font-weight: 400;
            color: var(--black-color);
            letter-spacing: 0.1rem;
            margin-left: 1rem;
        }
    }
}
