.wrapper {
    background-color: var(--white-color);
    border: var(--border-style);
    padding: 2rem;
    text-align: center;
    overflow: hidden;

    img {
        width: 100%;
        height: 10rem;
        object-fit: contain;
        margin-bottom: 2rem;
    }

    h3 {
        color: var(--black-color);
        font-size: 2rem;
    }
}

.wrapper.hover:hover {
    background-color: var(--black-color);

    img {
        filter: invert(1);
    }

    h3 {
        color: var(--white-color);
    }
}
