.wrapper {
    font-size: 1.7rem;
    line-height: 3rem;
    margin-top: 1rem;
    color: var(--light-color);

    span {
        color: var(--black-color);
        margin-left: 1rem;
    }
}
