.title {
    font-size: 4rem;
    color: var(--black-color);
    font-weight: 500;
    margin-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 1rem;
}
