.wrapper {
    background-color: var(--white-color);
    padding: 1.5rem;
    border: var(--border-style);
    width: 100%;

    color: var(--black-color);
    font-size: 1.8rem;
    margin-top: 2rem;
}
