@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,700;1,300&family=Roboto+Slab:wght@300;500;700&family=Rubik:wght@300;400;500;600&display=swap');

:root {
    --yellow-color: #fed330;
    --red-color: #e74c3c;
    --white-color: #fff;
    --black-color: #222222;
    --light-color: #777777;
    --border-style: 0.2rem solid var(--black-color);
    --transition-delay: all 0.2s ease-in;
}

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

*::selection {
    background-color: var(--yellow-color);
    color: var(--white-color);
}

::-webkit-scrollbar {
    height: 0.5rem;
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--yellow-color);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    stop-opacity: 7rem;
}

section {
    margin: 0 auto;
    max-width: 1200px;
    padding: 2.5rem;
}

.swiper-pagination-bullet-active {
    background-color: var(--yellow-color);
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 468px) {
    html {
        font-size: 50%;
    }
}
